<!-- 头部 -->
{include file="common/header" /}

<article>
    <link rel="stylesheet" href="__CSS__/Home/kz.css">
    <section class="sub">
        <p class="ellipsis-this xLocation">
            <a href="javascript:void(0)" title="">首页</a> &gt; <a target="_self" href="javascript:void(0)">财经</a> &gt; <a
                href="javascript:void(0)" title="">外发手工加工</a>
        </p>
    </section>
    <section class="tiezi-title">
        <h1>小项目 大财富</h1>
        <h1>一次性用品手工加工</h1>
        <h1>在家加工也可以赚钱</h1>
        <h1>公司免费供料 你生产我销售 </h1>
        <h1>2019年外发加工在家赚钱五星推荐</h1>
    </section>
    <div><img src="__IMAGE__/Home/aa.jpg" alt=""></div>
    <section class="tiezi-qs">
        <div class="tiezi-qs-box">
            <h1>公司简介：</h1>
            <p>本公司是一家集一次性用品开发、生产、 销售于一体的大型现代化企业。公司生产的一次性口罩、袖套、鞋套等 一次性用品远销全国31个省市和东南亚欧美等多个国家和地区 ，深受广大用户的好评。
                同时与国内外多家大型生物制药集团及医院公司达成战略合作伙伴关系。</p>
            <div><img src="__IMAGE__/Home/ee.jpg" alt=""></div>
        </div>
        <div class="tiezi-qs-box">
            <h1>为什么要招收加工人员？</h1>
            <p>由于本公司订单需求量巨大，面向全国招收加工合作伙伴，公司扶持创业，从而解决个人因资金、技术、团队、项目等外在因素。</p>
        </div>
        <div class="tiezi-qs-box">
            <h1>合作商的要求：</h1>
            <p>每天有3—4个小时空闲时间（时间越多越好），双手便利无残疾、视力正常即可。</p>
        </div>
        <div class="tiezi-qs-box">
            <h1>项目优势：</h1>
            <h3>操作简单：</h3>
            <p>1、纯手工操作，无需任何经验技术，人人都可做，简单易学，一学即会；</p>
            <h3>免费供料：</h3>
            <p>2、公司统一免费提供原材料，并免费快递到你当地，无需投入资金压货；</p>
            <h3>上门回收：</h3>
            <p>3、公司按月上门回收加工好的成品，当面验收，现钱结算，绝不拖欠加工费；</p>
            <h3>货源稳定：</h3>
            <p>4、公司拥有稳定的客源以及庞大的销售网络，一年四季都有足够的订单加工；</p>
            <h3>场地不限：</h3>
            <p>5、在家、宿舍、工地，均可操作，不受任何场地的限制。</p>
            <h3>高回报：</h3>
            <p>6、个人可做，也可组织工人成规模做。 总部长期免费为您发货，长期合作并预付您下批产品加工费的50%以利于加工户扩大经营、安心生产，让您赢在起点。</p>
            <div><img src="__IMAGE__/Home/cc.jpg" alt=""></div>
        </div>
        <div class="tiezi-qs-box">
            <h1>郑重承诺：</h1>
            <p>本公司为工商合法注册的实体公司，
                注册资本500万元以上，工商公安可查询相关信息。合作户加工合格的产品，本公司回收。（原料不收取费用，不回收亏本的是公司）。欢迎到公司实地考察。如不方便，可微信视频，远程查看。</p>
        </div>
    </section>

    {include file="common/comments" /}
    {include file="common/newmsg" /}
    {include file="common/message" /}
</article>
<!-- 底部 -->
{include file="common/footer" /}
