<!--网名评论-->
<link rel="stylesheet" href="__CSS__/Home/comments.css">
<section class="comments">
    <div class="comments-title">网民评论</div>
    <div class="comments-box">
        <div class="comments-box-top">
            <img src="__IMAGE__/Home/tx1.jpg" alt="">
            <strong>风一样的女子</strong>
            <span>金牌用户</span>
        </div>
        <div class="comments-box-text">
            <p>我在家带孩子，空闲时间比较多，就想找份兼职做，无意间看到的这个项目，看着挺好，可网上骗人的太多了，怕他们不回收。
                可转念一想，也无需投资，而且，公司也查得到，还视频了，总不至于网上都是骗人的吧。于是我就抱着试试的心态决定做一下。
                没想到，第一个月做完，我就领到了加工费。因为我没有全部时间来做。现在我已经做了差不多1年了，每个月的收入比上班强多了。 孩子的奶粉钱基本够了。</p>
        </div>
        <div class="comments-box-time">
            <img src="__IMAGE__/Home/time.png" alt="">&nbsp;&nbsp;<span>昨天 12:17:23</span>
        </div>
    </div>
    <div class="comments-box">
        <div class="comments-box-top">
            <img src="__IMAGE__/Home/tx2.jpg" alt="">
            <strong>玲玲</strong>
            <span>普通会员</span>
        </div>
        <div class="comments-box-text">
            <p>这个外发加工真这么好啊？我也想去试试，每天闲着太无聊了。</p>
        </div>
        <div class="comments-box-time">
            <img src="__IMAGE__/Home/time.png" alt="">&nbsp;&nbsp;<span>昨天 10:17:23</span>
        </div>
    </div>
    <div class="comments-box">
        <div class="comments-box-top">
            <img src="__IMAGE__/Home/tx3.jpg" alt="">
            <strong>张果老</strong>
            <span>钻石用户</span>
        </div>
        <div class="comments-box-text">
            <p>哈哈，我还说自己一个人悄悄做，怕做的人多了，订单少了，赚不了多少钱呢，原来这么多人都在做这个，看来公司实力还真不一般，每个月我想做多少有多少。</p>
        </div>
        <div class="comments-box-time">
            <img src="__IMAGE__/Home/time.png" alt="">&nbsp;&nbsp;<span>昨天 09:49:01</span>
        </div>
        <div class="comments-box-text">
            <p>追问：</p>
            <p style="text-indent: 2em">楼上的，你一个月能赚多少呢？</p>
        </div>
        <div class="comments-box-time">
            <img src="__IMAGE__/Home/time.png" alt="">&nbsp;&nbsp;<span>昨天 10:05:11</span>
        </div>
        <div class="comments-box-text">
            <p>回复：</p>
            <p style="text-indent: 2em">我以前是做兼职，每天做三四个小时，一个月能赚不了多少。现在我辞职了，专门做这个，比我上班工资还高,而且还很自由，没人管，比上班强多了。</p>
        </div>
        <div class="comments-box-time">
            <img src="__IMAGE__/Home/time.png" alt="">&nbsp;&nbsp;<span>昨天 19:32:46</span>
        </div>
    </div>
    <div class="comments-box">
        <div class="comments-box-top">
            <img src="__IMAGE__/Home/tx4.jpg" alt="">
            <strong>叮叮猫</strong>
            <span>普通会员</span>
        </div>
        <div class="comments-box-text">
            <p>我看到这个项目好久了，一直犹豫要不要做。因为怕上当受骗，网上这种骗人的太多了。看大家这么说，我就放心了。我明天就去做了。</p>
        </div>
        <div class="comments-box-time">
            <img src="__IMAGE__/Home/time.png" alt="">&nbsp;&nbsp;<span>昨天 20:57:25</span>
        </div>
    </div>
    <div class="comments-box">
        <div class="comments-box-top">
            <img src="__IMAGE__/Home/tx5.jpg" alt="">
            <strong>小嘟嘟</strong>
            <span>金牌用户</span>
        </div>
        <div class="comments-box-text">
            <p>我在我们村，都找了十几个人来帮我做了。现在一个月的收入相当于开了一家小工厂。</p>
        </div>
        <div class="comments-box-time">
            <img src="__IMAGE__/Home/time.png" alt="">&nbsp;&nbsp;<span>昨天 21:31:43</span>
        </div>
    </div>
</section>
<p style="color: red;padding: .1rem;line-height: 1.5;">如果你对该项目感兴趣，可自愿留下你的姓名和电话给对方公司，对方公司会第一时间与你联系，以便你详细了解该项目。你的资料我们会严格保密，不会泄露给任何第三方。</p>
