<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1"/>
    <meta name="application-name" content=""/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <link rel="shortcut icon" href="" type="image/icon" sizes="16*16">
    <link rel="stylesheet" href="__CSS__/Home/base.css">
    <link rel="stylesheet" href="__CSS__/Home/main.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1176844_03wydqx0vwo8.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css"> -->

</head>

<body>
<section id="app">